h1 {
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
}
h2 {
  font-family: "Kanit", sans-serif;
  text-align: center;
}
.waves-bg {
  background: url("src/assets/background-waves-avatar.jpg") ;
  height: 309px;
  left: 0;
  width: 100%;
}
h3 {
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
}
.hobbies {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-content: center;
  justify-content: center;
}

/* Adicione uma media query para ajustar o layout em telas menores */
@media (max-width: 1500) {
  .hobbies {
    flex-direction: column;
    align-items: flex-start;
  }
}